.headerContainer {
    height: 52px;
    width: 100%;
    /* margin-top: 52px; */

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    z-index: 999;

    background-color: white;
    box-shadow: 0px 3px 7px 0px rgba(51, 51, 51, 0.2);

    gap: 20px;
}


.navContainer {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 5px;
    gap: 15px;
}

.loginBtn {
    width: 65px;
    height: 30px;
    border-radius: 30px;
    border: 2.5px solid rgb(43, 43, 43);
    font-size: 12px;
    font-weight: 880;
    background-color: white;
    transition: all 0.4s;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5px;
    margin-right: 20px;
}

.loginBtn:hover {
    color: white;
    background-color: rgb(43, 43, 43);
}


.logoContainer {
    width: 20%;
}

.logoImg {
    height: 33px;
    padding-left: 40px;
}

.searchIcon {
    height: 25px;
}

.createPostIcon {
    height: 20px;
}

.userIcon {
    height: 36px;
    padding-right: 40px;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 7px 4px;
    z-index: 1;
    left: -59px;
    text-align: center;
}

.dropdown:hover .dropdownContent {
    display: block;
}

.dropdownContent button {
    font-size: 18px;
    font-weight: bold;

    border: none;
    background-color: white;
}

.dropbtn {
    color: inherit;
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

/*
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;

    height: 50px;
    background-color: rgb(58, 68, 74);
}

nav a {
    text-decoration: none;
    color: white;
    transition: all 0.3s;
}

nav a:hover {
    color: rgb(145, 229, 255);
}

nav a svg {
    margin-right: 5px;
} */
